button{
	background-color: #6AA84F;
	width: 100px;
	height: 50px;
	color: #ffffff;
	font-weight: bold;
}

#demo{
	color: #ffffff;
	background-color: #7F7F7F;
	padding: 10px;
	font-size: 120%
}